.field {
    display: flex;
    flex-flow: column-reverse;
}
/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/
label, input {
    transition: all 0.2s;
    touch-action: manipulation;
}



    /**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
    input:placeholder-shown + label {
        cursor: text;
        overflow: hidden;
        transform-origin: left bottom;
        transform: translate(0.5rem, 2rem) scale(0.9);
        color: #CCCCCC;
    }
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
    opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

.AlertaSuccess {
    color: darkseagreen;
    font-size: 12px;
    font-weight: bold;
}

.AlertaDanger {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.bigBtnRep {
    font-weight: bold !important;
    margin: 8px 8px 8px 8px !important;
    padding-top: 55px !important;
    width: 150px !important;
    height: 150px !important;
    border-radius: 20px !important;
}

.DivCenter{
    width:325px;
    height:325px;
    margin:50px 50px 50px 50px;
    padding:80px 25px 35px 25px;
     background:rgba(252,252,252,0.90);
    /*background:#fcfcfc;*/
    /*border:1px solid #f4f4f4;*/
    border-radius:100%;

}

.portada{
  background-repeat:no-repeat; 
  max-width: 100%; 
  height:700px; 
  height: 590px; 
  width: auto\9; 
  background-size:cover;
  padding-top: 100px;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.modal-content {
  border-radius: 0px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.modal-backdrop.show {
  opacity: 0.75;
}

/*Inicia stilo de index */


.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
     background:rgba(252,252,252,0.90);
}
.panel-login>.panel-heading {
	color: #00415d;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
}

.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;