@model AdminMensajeria.Models.OPE_SOLICITUD

@{
    Layout = null;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/qrcode.js"></script>


<div>
    <div id="qrcode"></div>
    <br />
    <div id="qrcode2"></div>


</div>

<script>
    $(document).ready(function () {
        var value = '@Model.IdSolicitud';
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width: 75,
            height: 75
        });
        var qrcode2 = new QRCode(document.getElementById("qrcode2"), {
            width: 75,
            height: 75
        });
        qrcode.makeCode(value);
        qrcode2.makeCode(value);

    });
</script>