
@{
    int ctrlFolio = ViewBag.ctrlFolio;
}

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-6">
            <div class="field">
                <input id="NoSeguimientoRec" class="form-control input-sm" />
                <label for="NoSeguimientoRec">Ingrese Numero de Envío (*)</label>
            </div>
            <span class="AlertaDanger" id="NoSeguimientoRecVal"></span>
        </div>
        <div class="col-md-6">
            <div class="field">
                <input type="number" id="TotalRec" class="form-control input-sm" value="0" disabled />
                <label for="TotalRec">Total de Paquetes Recibidos</label>
            </div>
            <span class="AlertaDanger" id="TotalRecVal"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12" id="Recibidos">

        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        var ctlFolio = '@ctrlFolio';

        if (ctlFolio == 1) {
            $('#NoSeguimientoRec').attr('type', 'text');
            $('#NoSeguimientoRec').attr('placeholder', 'Indique Folio');
        }
        else {
            $('#NoSeguimientoRec').attr('type', 'number');
            $('#NoSeguimientoRec').attr('placeholder', 'Indique # de Envío');
        }

        $("#NoSeguimientoRec").focus();

        $('#NoSeguimientoRec').keyup(function () {
            $('#NoSeguimientoRecVal').html('');
        });

        ///////////////////////////////////////////////////////////////
        $("#NoSeguimientoRec").change(function () {
            var NoSeguimientoRec = $('#NoSeguimientoRec').val();
            var TotalRec = $('#TotalRec').val();

            if (NoSeguimientoRec.length != 0) {

                $.ajax({
                    url: '@Url.Action("RecibirPaquete", "Solicitud")' + '?id=' + NoSeguimientoRec + '&ctlFolio=' + ctlFolio,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.Result == true) {
                            var content = '<div style="background-color:#EAFAF1;word-break:break-word; border-style: solid; border-width: 1px;">' + data.Mensaje + '</div>'
                            $("#Recibidos").prepend(content)
                            var total = parseInt(TotalRec) + parseInt(1);
                            $('#TotalRec').val(total);
                        }
                        else {
                            if (data.Redirecciona == true) {
                                window.location = '@Url.Action("Index", "Home")';
                            }
                            else {
                                var content = '<div style="background-color:#F2D7D5;word-break:break-word; border-style: solid; border-width: 1px;">' + data.Mensaje + '</div>'
                                $("#Recibidos").prepend(content)
                            }
                        }
                    },
                    error: function () {
                        console.log("No pudo acceder al Metodo");
                    }
                });

            }
            $('#NoSeguimientoRec').val('');
            $("#NoSeguimientoRec").focus();
        });


    });

</script>