@model IEnumerable<AdminMensajeria.Models.OPE_GUIA>

@{
    ViewBag.Title = "Asignación de envíos";
}

<h2>Asignación de Envios</h2>

<div class="form-horizontal">

        <div class="form-group row">
        <div class="col-md-2">
            <button onclick="NuevaAsignacion()" data-toggle="tooltip" title="Nuevo Estado" class="btn btn-default btn-sm " style="margin-top: 25px;">
                <span class="glyphicon glyphicon-plus"></span> Nuevo
            </button>
        </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="field">
                    <input id="FechaDesde" class="form-control input-sm" PlaceHolder="Fecha Desde" autocomplete="off" />
                    <label for="FechaDesde">Desde</label>
                </div>
                <span class="AlertaDanger" id="FechaDesdeVal"></span>
            </div>
            <div class="col-md-2">
                <div class="field">
                    <input id="FechaHasta" class="form-control input-sm" PlaceHolder="Fecha Hasta" autocomplete="off" />
                    <label for="FechaHasta">Hasta</label>
                </div>
                <span class="AlertaDanger" id="FechaHastaVal"></span>
            </div>
            <div class="col-md-1">
                <a id="VerAsignaciones" class="btn btn-default btn-sm" data-toggle="tooltip" title="Ver Asignaciones" style="margin-top: 25px;">
                    <span class="glyphicon glyphicon-th-list"></span> Ver
                </a>
            </div>
            <div class="col-md-3">
                <span class="AlertaDanger" id="MensajeError"></span>
            </div>
        <div class="col-md-1">
            <a href="@Url.Action("Estandar", "Home")" class="btn btn-default btn-sm" data-toggle="tooltip" title="Menu" style="margin-top: 25px;">
                <span class="glyphicon glyphicon-home"></span> Volver
            </a>
        </div>
    </div>

    <div id="VistaAsignaciones"></div>

</div>

<script>
    $(document).ready(function () {
        $("#FechaDesde, #FechaHasta").datetimepicker({ format: "Y-m-d", timepicker: false });
        var d = new Date();
        var month = d.getMonth() + 1;
        var day1 = d.getDate() - 1;
        var day = d.getDate();

        var fdesde = d.getFullYear() + '-' +
            (month < 10 ? '0' : '') + month + '-' +
            (day1 < 10 ? '0' : '') + day1;

        var fhasta = d.getFullYear() + '-' +
        (month < 10 ? '0' : '') + month + '-' +
        (day < 10 ? '0' : '') + day;

        $("#VistaAsignaciones").html('');
        $("#VistaAsignaciones").load('@Url.Action("Asignaciones", "Asignacion")' + '?Desde=' + fdesde + '&Hasta=' + fhasta);

        $("#FechaDesde").val(fdesde);
        $("#FechaHasta").val(fhasta);

        $("#FechaDesde").change(function () {
            $("#FechaDesdeVal").html('');
            $("#FechaHastaVal").html('');
        });
        $("#FechaHasta").change(function () {
            $("#FechaDesdeVal").html('');
            $("#FechaHastaVal").html('');
        });

        $("#VerAsignaciones").click(function () {
            CargarVista();
        });
    });

    function CargarVista() {
        var FechaDesde = $("#FechaDesde").val();
        var FechaHasta = $("#FechaHasta").val();

        if ($("#FechaDesde").val().length == 0) {
            $("#FechaDesdeVal").html('');
            $("#FechaDesdeVal").append('Este Campo es Obligatorio');
        }

        if ($("#FechaHasta").val().length == 0) {
            $("#FechaHastaVal").html('');
            $("#FechaHastaVal").append('Este Campo es Obligatorio');
        }

        if ($("#FechaDesde").val() > $("#FechaHasta").val()) {
            $("#FechaDesdeVal").html('');
            $("#FechaDesdeVal").append('Fecha Desde no puede ser menor que Fecha Hasta');
        }


        if ($("#FechaDesde").val().length != 0 &&
            $("#FechaHasta").val().length != 0 &&
            $("#FechaDesde").val() <= $("#FechaHasta").val()) {

            $("#VistaAsignaciones").html('');
            $("#VistaAsignaciones").load('@Url.Action("Asignaciones", "Asignacion")' + '?Desde=' + FechaDesde + '&Hasta=' + FechaHasta);
        }
        else {
            console.log("Validación Incorrecta");
        }
    }


    function NuevaAsignacion() {
        $("#OperTitle").html('');
        $("#OperTitle").append('Nuevo Asignacion')
        $("#OperBody").html('');
        $("#OperBody").load('@Url.Action("Create", "Asignacion")');
        $('#OperModal').modal('show');
    }
</script>


